{% extends 'base.html' %}

{% block title %}cadastro{% endblock %}

{% block content %}

<div class="container">
    <h1>Cadastro</h1>
    
    <form method="post" action="{% url 'cadastro' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>

        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>

        <div class="form-group">
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>

        <div class="form-group">
            <label for="confirme_senha">Confirme a Senha:</label>
            <input type="password" id="confirme_senha" name="confirme_senha" required>
        </div>

        <button type="submit" class="btn">Cadastrar</button>
    </form>

    <div class="link">
        <p>Já tem uma conta? <a href="/login">Faça login</a></p>
    </div>
</div>
{% endblock %}